# Python
__pycache__/
utils/__pycache__/
*.py[cod]
.api_env/

# Local test files
.pytest.ini
.pytest_cache

# Data & Model
# data/
# api_model_info/

# UI files
streamlit_ui/.streamlit_env/

# OS
.DS_Store
